@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


[class*="__container"] {
	max-width: 1230px;
	margin: 0 auto;
}

body {
	font-family: Lato;
}

header {
	text-align: center;
	font-size: 40px;
	margin-bottom: 50px;
}

.block__container {
	margin-bottom: 184px;
}

.blok-text h1 {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: #1E212C;
	margin-bottom: 40px;
}

.blok-text p {
	line-height: 160%;
	margin-bottom: 48px;
	color: #424551;

}


.block-list p {
	font-weight: 700;
	font-size: 28px;
	line-height: 150%;
	color: #1E212C;
	margin-bottom: 24px;
}

.block-list li {
	padding-left: 32px;
	line-height: 160%;
	color: #424551;
}

.block-list ul li::before {
	background: url("../img/icons/Vector.svg") 0 0 no-repeat;
	content: "";
	margin-left: -27px;
	width: 16px;
	height: 15.33px;
	display: inline-block;
	margin-right: 10px;
}


.text__container {
	margin-bottom: 70px;
}


.text-body h2 {
	font-weight: 700;
	line-height: 150%;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.text-body p {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: #1E212C;
	margin-bottom: 16px;
}

.text-body p:last-child {
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
	color: #787A80;
	margin-bottom: 32px;
}

.text-text ul {
	margin-bottom: 32px
}

.text-text li {
	font-weight: 700;
	line-height: 160%;
}

.text-text ul li::before {
	background: url("../img/icons/Vector\ \(1\).svg") 0 0 no-repeat;
	content: "";
	width: 16px;
	height: 15.33px;
	display: inline-block;
	margin-right: 10px;
}

.text-text ul li:first-child::before {
	background: url("../img/icons/Star\ \(Stroke\).svg") 0 0 no-repeat;
	content: "";
	width: 16px;
	height: 15.33px;
	display: inline-block;
	margin-right: 10px;
}

.text-text ul li:last-child::before {
	background: url("../img/icons/Vector\ \(2\).svg") 0 0 no-repeat;
	content: "";
	width: 16px;
	height: 15.33px;
	display: inline-block;
	margin-right: 10px;
}

.text-text p {
	line-height: 160%;
	color: #424551;

}


h3 {
	font-size: 40px;
	text-align: center;
	margin-bottom: 60px;
}

h3:hover {
	color: red;
	text-decoration: underline;
}

.home2 p {
	background-color: aqua;
	font-size: 25px;
	border: 2px solid red;
	border-radius: 25px;
	margin-bottom: 20px;
	max-width: 150px;
}

.home2 p:active {
	background-color: red;
}

.home2 a {
	font-size: 20px;
	margin-bottom: 40px;

}

.home2,
.visit {
	display: block;
	width: 300px;
}

.visit1:visited {
	color: burlywood;

}



.visit:focus {
	background-color: blue;
}

.home3 {
	box-sizing: 25px;
	font-size: 20px;
}



ul {
	margin-left: 20px;
}

.home3 {
	margin-bottom: 200px;
}

ul ul {
	display: none;

}

ul li:hover ul {
	display: block;
	width: 300px;
	color: blue;
}

.home4 {
	color: red;
	font-size: 30px;
	display: none;
	margin-bottom: 300px;
}

.home4:target {
	color: blue;
	display: block;
}

.game-text {
	font-size: 30px;
	text-align: center;
	margin-bottom: 15px;
}

.exp {
	height: 700px;
	font-size: 0;
	display: block;
	margin-left: 100px;
	margin-bottom: 50px;
	width: 800px;
}

.game {
	width: 50px;
	height: 50px;
	background-color: red;
}

.game:hover {
	width: 500px;
	background-color: red;
}

.game-start {
	margin-left: 500px;
	height: 50px;
	width: 50px;
	margin-top: -50px;
}

.game-start:hover {
	background-color: red;
	margin-left: 500px;
	height: 300px;
	width: 50px;
}

.game-go {
	height: 50px;
	width: 50px;
	margin-left: 500px;
	margin-top: 250px;
}

.game-go:hover {
	background-color: red;
	margin-left: 500px;
	height: 200px;
	width: 50px;
}

.game-go2 {
	margin-left: 500px;
	height: 50px;
	width: 50px;
	margin-top: 150px;
}

.game-go2:hover {
	background-color: red;
	margin-left: 500px;
	width: 550px;
	margin-left: 0px;
}

.game-end {
	height: 50px;
	width: 50px;
}

.game-end:hover {
	background-color: red;
	width: 800px;
	height: 700px;
	background: url("../img/1.jpg") 0 0 / 100% no-repeat;
}