@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-BookItalic.woff2") format("woff2"), url("../fonts/CircularStd-BookItalic.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}

body {
	font-family: "Lato", serif;
	margin: 0 auto;
	max-width: 810px;
}


h1 {
	color: #1E212C;
	padding: 20px;
	font-weight: 900;
	font-size: 46px;
	line-height: 59.8px;
	margin-bottom: 40px;
}

.head-text {
	color: #1E212C;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 22px;
	max-width: 810px;
}

.img {
	margin-bottom: 60px;
	max-width: 100%;
}

.body {
	color: #424551;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 48px;
}

.body-first {
	margin-bottom: 25px;
}

.body-text {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding-left: 58px;
	margin-bottom: 48px;
}

.body-list {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
	color: #424551;
	margin-bottom: 60px;
}

li {
	padding-left: 32px;
}

.list-text {
	margin-bottom: 24px;
}

.list {
	margin-bottom: 24px;
}

h2 {
	font-size: 50px;
	text-align: center;
	margin-bottom: 30px;
}

.exp {
	border: 5px dotted #000;
	background-color: chocolate;
	padding: 5px;
	max-height: 50px;
	overflow: auto;
	margin-bottom: 20px;
}

.exp2 {
	background-color: blue;
	display: inline-block;
	max-width: 200px;
	margin-bottom: 20px;
}

.exp3 {
	background-color: cyan;
	border-bottom: 5px solid red;
	border-top: 10px dashed red;
	margin-bottom: 30px;
}

.image {
	opacity: 0.6;
	max-width: 200px;
	border-radius: 100% 0% 70% 30% / 76% 41% 59% 24%;
	box-shadow: 10px 5px 5px 20px rgb(225, 11, 11);
}

.exp4 {

	margin: 15px;
	padding: 15px;
}

.fb {
	font-family: CircularStd;
	font-size: 40px;
	font-weight: 900;
}

a>img {
	background-color: blue;
	max-width: 100px;
	padding: 15px;
	border-radius: 50%;
}